header{
    display: flex;
    border: solid black 1px;
    height:100px;
    margin-bottom: 1vh;
    
}
div{
    align-items: center;
    justify-content: center;
}

#logo{
    margin: 2vh;
    display: flex;
    flex: 1;
    border: solid blueviolet 1px;
}

#search{
    margin: 2vh;
    display:flex;
    flex: 2;
    border: solid yellow 1px;
}

#connect{
    margin: 1vh;
    display:flex;
    flex: 1; 
    border: solid green 1px;

} 

main{
    height: 1000px;
    display: flex;
}

aside{
    border:solid 1px blue;
    flex: 1;
}

section {
    display:flex;
    flex-direction: column;
    flex: 2; 
    height: inherit;
}

#commentaire{
    flex-direction: row;
    border: solid 1px green;
    height: 200px;
}
#liste_commentaire{
    border:solid 1px brown;
    flex-direction: row;
    height: inherit;

}




